<nav class="navbar">

    <div class="logo">
       <p> <span>MUGAH LOGISTICS</span> </p>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/fleet">Fleet</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/reviews">Reviews</a></li>
    </ul>

    <a href="/booking/book-now" class="book-btn">Book Now</a>

</nav>