body{

background:#f1f5f9;

}

.wrapper{

display:flex;

}

.sidebar{

width:250px;

min-height:100vh;

background:#0f172a;

padding:25px;

}

.sidebar h3{

color:white;

margin-bottom:40px;

}

.sidebar span{

color:#f59e0b;

}

.sidebar a{

display:block;

color:#cbd5e1;

text-decoration:none;

padding:14px 0;

transition:.3s;

}

.sidebar a:hover{

color:#f59e0b;

padding-left:8px;

}

.content{

flex:1;

}

.topbar{

background:white;

padding:20px 40px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 3px 12px rgba(0,0,0,.08);

margin-bottom:35px;

}

.card{

border:none;

border-radius:15px;

}